.form {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.form__pdf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pdf {
  height: 70vh;
  border-radius: 0px 0 1em 0px;
  box-shadow: 4px 2px 18px;
  margin-left: 12vw;
  margin-right: 4vw;
}

.pdf__button {
  margin-top: 4vh;
  margin-left: 6vw;
  height: 6vh;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer; 
}

.form__contact {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 7vh;
  margin-top: 5vh;
  margin-right: 10vw;
}

.form__div {
  width: 80%;
}

.inputBox__contact {
  position: relative;
  display: flex;
  align-items: center;
}

.inputBox__contact input {
  width: 100%;
  padding: 1vmin;
  border: 3px solid var(--secondary-color-opa);
  border-radius: 0 0 0 1em;
  outline: none;
  font-size: 2vmin;
  transition: 0.5s;
  padding-left: 1em;
  margin-bottom: 5vmin;
}

.inputBox__contact span {
  position: absolute;
  left: 1em;
  top: 1.4vmin;
  pointer-events: none;
  font-size: 2vmin;
  transition: 0.5s;
}

.inputBox__contact ion-icon {
  font-size: 3.5vmin;
  position: absolute;
  top: 0.9vmin;
  right: 20px;
}

.inputBox__contact input:valid ~ span,
.inputBox__contact input:focus ~ span {

  transform: translateX(1em) translateY(-3.6vmin);
  font-size: 1.7vmin;
  padding: 0.1em 2em;
  background: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 2em;
  letter-spacing: 0.2em;
  font-weight: bold;
}

.inputBox__contact input:valid,
.inputBox__contact input:focus {
  border: 0.4vmin solid var(--secondary-color);
}

.form__title {
  margin-bottom: 4vmin;
  margin-top: 3vmin;
}

.form__title h2::after {
  content: " ";
  display: block;
  width: 100%;
  text-align: center;
  height: 3px;
  background: var(--secondary-color);
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}

.form__title h2:hover::after {
  transform: scale(1);
}

.inputBox__contact:nth-child(3) input {
  height: 15vmin;
  padding-bottom: 20vmin;
}

.buttonContact {
  display: flex;
  margin: auto;
  background: var(--primary);
  border: none;
  padding: 0.5em 2em;
  border-radius: 0.7em;
  color: var(--fontprimary);
  font-size: 2.5vmin;
  margin-top: 2vmin;
  margin-bottom: 5vmin;
  cursor: default;
}

.buttonContact:hover {
  transform: scale(0.96);
}

.buttonContact:active {
  transform: scale(0.92);
}

@media screen and (min-width: 600px) {
  .form {
    flex-direction: row;
    justify-content: space-around;
  }
}
