.form {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.form__pdf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pdf {
  margin-top: 2vh;
  height: 50vh;
  border-radius: 0px 0 1em 0px;
  box-shadow: 4px 2px 18px;
}

.pdf__button {
  margin-top: 8vh;
  margin-bottom: 8vh;
  padding-left: 30px;
  padding-right: 30px;
  height: 6vh;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  box-shadow: 0.4vmin 0.4vmin 4vmin 0.4vmin var(--secondary-color);
}

.pdf__button:active {
  scale: 1.05;
  transition: 0.5s;
}

.form__contact {
  margin-top: 10vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 7vh;
}

.form__div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}

.inputBox__contact {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.inputBox__contact input {
  width: 100%;
  padding: 1vmin;
  border: 3px solid var(--secondary-color-opa);
  border-radius: 0 0 0 1em;
  outline: none;
  font-size: 3.5vmin;
  transition: 0.5s;
  padding-left: 1em;
  margin-bottom: 5vmin;
}

.inputBox__contact textarea {
  width: 100%;
  padding: 1vmin;
  padding-bottom: 12vh;
  border: 3px solid var(--secondary-color-opa);
  border-radius: 0 0 0 1em;
  outline: none;
  font-size: 3.5vmin;
  transition: 0.5s;
  padding-left: 1em;
}

.inputBox__contact span {
  position: absolute;
  left: 1em;
  top: 1.4vmin;
  pointer-events: none;
  font-size: 3.5vmin;
  transition: 0.5s;
}

.inputBox__contact ion-icon {
  font-size: 5vmin;
  position: absolute;
  top: 0.9vmin;
  right: 1vmin;
}

.inputBox__contact input:valid ~ span,
.inputBox__contact input:focus ~ span {
  transform: translateX(1.2em) translateY(-5vmin);
  font-size: 2.8vmin;
  padding: 0.1em 2em;
  background: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 2em;
  letter-spacing: 0.2em;
  font-weight: bold;
}

.inputBox__contact input:valid,
.inputBox__contact input:focus {
  border: 0.4vmin solid var(--secondary-color);
}

.inputBox__contact textarea:valid ~ span,
.inputBox__contact textarea:focus ~ span {
  transform: translateX(1.2em) translateY(-5vmin);
  font-size: 2.8vmin;
  padding: 0.1em 2em;
  background: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 2em;
  letter-spacing: 0.2em;
  font-weight: bold;
}

.inputBox__contact textarea:valid,
.inputBox__contact textarea:focus {
  border: 0.4vmin solid var(--secondary-color);
}

.form__title {
  margin-bottom: 2vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4vh;
}

.form__title__name {
  margin-bottom: 2vmin;
}

.form__title a:nth-of-type(3) {
  margin-bottom: 8vmin;
}

.buttonContact {
  margin-top: 4vh;
  padding-left: 30px;
  padding-right: 30px;
  height: 6vh;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  box-shadow: 0.4vmin 0.4vmin 4vmin 0.4vmin var(--secondary-color);
}

.buttonContact:active {
  scale: 1.05;
  transition: 0.5s;
}

@media screen and (min-width: 700px) {
  .form {
    flex-direction: row;
    justify-content: space-around;
    height: 88vh;
  }
  .form__contact {
    margin-top: 6vh;
  }
  .form__div {
    margin-top: 0;
  }

  .pdf {
    margin-left: 12vw;
    margin-right: 4vw;
    height: 61vh;
  }
  .form__contact {
    margin-right: 10vw;
  }
  .form__pdf {
    margin-left: 10vw;
    margin-top: 6vh;
  }
  .form__div {
    width: 70%;
  }
  .buttonContact:hover {
    transform: scale(0.96);
    transition: 0.5s;
  }
  .pdf__button {
    margin-left: 7vw;
  }
  .pdf__button:hover {
    transform: scale(0.96);
    transition: 0.5s;
  }

  .form__title a:nth-of-type(3) {
    margin-bottom: 4vmin;
  }
  .inputBox__contact input {
    font-size: 2vmin;
  }

  .inputBox__contact textarea {
    font-size: 2vmin;
  }

  .inputBox__contact span {
    font-size: 2vmin;
  }

  .inputBox__contact ion-icon {
    font-size: 3.5vmin;
  }

  .inputBox__contact input:valid ~ span,
  .inputBox__contact input:focus ~ span {
    transform: translateX(1em) translateY(-3.6vmin);
    font-size: 1.7vmin;
  }

  .inputBox__contact textarea:valid ~ span,
  .inputBox__contact textarea:focus ~ span {
    transform: translateX(1em) translateY(-3.6vmin);
    font-size: 1.7vmin;
  }

  .form__title__coord::after {
    content: " ";
    display: block;
    text-align: center;
    width: 100%;
    height: 2px;
    background: var(--secondary-color);
    transform: scale(0);
    transition: transform 0.4s ease-in-out;
  }

  .form__title__coord:hover::after {
    transform: scale(1);
  }
}
