.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desktop-image {
  width: 70vw;
  height: auto;
  margin-top: 20vh;
  border-radius: 20px;;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.name-letter {
    font-family: var(--secondary-font);
    margin-top: 5vh;
    font-size: 3.5rem;
}

.name-letter-anime {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.name-letter:hover {
    cursor: default;
    text-shadow: var(--third-color) 1px 0 15px;
    transition: 0.2s;
    -webkit-animation: text-blur-out 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: text-blur-out 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.name-letter-maj {
    cursor: default;
    display: flex;
    flex-direction: row;
    font-family: var(--secondary-font);
    margin-top: 5vh;
    font-size: 5rem;
    text-shadow: var(--third-color) 1px 0 5px;
}

.name-letter-maj-anime {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.name-letter-maj:hover {
    text-shadow: var(--third-color)1px 0 15px;
    transition: 1s;
    -webkit-animation: text-blur-out 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: text-blur-out 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.job-title {
    cursor: default;
    text-align: center;
    font-size: 1rem;
    font-style: italic;
}

.job-title-anime {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.job-title:hover {
    -webkit-animation: text-blur-out 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: text-blur-out 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.button-homepage {
    margin-top: 10vh;
    padding-left: 30px;
    padding-right: 30px;
    height: 6vh;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer; 
}

.button-homepage-anime1 {
    -webkit-animation: shadow-drop-2-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-2-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.button-homepage-anime2 {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.button-homepage:hover {
    transition: 1s;
    -webkit-animation: text-blur-out 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: text-blur-out 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}


 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

 @-webkit-keyframes text-blur-out {
    0% {
      -webkit-filter: blur(0.01);
              filter: blur(0.01);
    }
    100% {
      -webkit-filter: blur(12px) opacity(0%);
              filter: blur(12px) opacity(0%);
    }
  }
  @keyframes text-blur-out {
    0% {
      -webkit-filter: blur(0.01);
              filter: blur(0.01);
    }
    100% {
      -webkit-filter: blur(12px) opacity(0%);
              filter: blur(12px) opacity(0%);
    }
  }

@-webkit-keyframes tracking-out-contract {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
  }
  @keyframes tracking-out-contract {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
  }
  

@-webkit-keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 var(--secondary-color);
              box-shadow: 0 0 0 0 var(--secondary-color);
    }
    100% {
      -webkit-transform: translateZ(30px);
              transform: translateZ(30px);
      -webkit-box-shadow: 0 0 15px 0px var(--secondary-color);
              box-shadow: 0 0 15px 0px var(--secondary-color);
    }
  }
  @keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(30px);
              transform: translateZ(30px);
      -webkit-box-shadow: 0 0 15px 0px var(--secondary-color);
              box-shadow: 0 0 15px 0px var(--secondary-color);
    }
  }
  

  @media screen and (min-width: 700px) {
    .desktop-image {
      width: 40vw;
      margin-top: 5vh;
    }
}

@media screen and (min-width: 900px) {
    .button-homepage:hover {
        color: var(--primary-color);
        background-color: var(--secondary-color);
    }
}
  


