.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desktop-image {
  width: 70vw;
  height: auto;
  margin-top: 20vh;
  border-radius: 20px;
  box-shadow: 0.2vmin 0.2vmin 2vmin 0.2vmin var(--secondary-color);

}

 @-webkit-keyframes tilt-in-bottom-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-bottom-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}


.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 12vh;
}

.name-letter {
  font-family: var(--secondary-font);
  margin-top: 5vh;
  font-size: 3.5rem;
}

.name-letter-anime {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.name-letter:hover {
  cursor: default;
  text-shadow: var(--third-color) 1px 0 15px;
  transition: 0.2s;
  -webkit-animation: text-blur-out 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: text-blur-out 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.name-letter-maj {
  cursor: default;
  display: flex;
  flex-direction: row;
  font-family: var(--secondary-font);
  margin-top: 5vh;
  font-size: 5rem;
  text-shadow: var(--third-color) 1px 0 5px;
}

.name-letter-maj-anime {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.name-letter-maj:hover {
  text-shadow: var(--third-color) 1px 0 15px;
  transition: 1s;
  -webkit-animation: text-blur-out 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: text-blur-out 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.job-title {
  cursor: default;
  text-align: center;
  font-size: 1.8rem;
  font-style: italic;
  padding-bottom: 1rem;
}

.search-title {
  cursor: default;
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}

.job-title-anime, .search-title-anime {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.job-title:hover, .search-title:hover {
  -webkit-animation: text-blur-out 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: text-blur-out 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.button-homepage {
  margin-top: 5vh;
  padding-left: 30px;
  padding-right: 30px;
  height: 50px;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  box-shadow: 0.4vmin 0.4vmin 4vmin 0.4vmin var(--secondary-color);
}

.button-homepage-anime {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.button-homepage:active {
  scale: 0.92;
  transition: 0.5s;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}

@-webkit-keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}
@keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}

@media screen and (min-width: 700px) {
  .desktop-image {
    width: 40vw;
    margin-top: 5vh;
  }
  .button-homepage:hover {
    transform: scale(0.96);
    transition: 0.5s;
  }
  .title {
    margin-top: 6vh;
  }
}

@media screen and (min-width: 900px) {
  .desktop-image {
    width: 28vw;
    margin-top: 9vh;
  }

}
